# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Database
*.db

# Heavy Data
backend/data/videos/
backend/models/
